<!DOCTYPE html>
<html>
  <head>
    <title>Rails5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to image_tag("logo.png"), "/" %>

      <div id="nav">
          <nav>
              <%= link_to('Pagrindinis', '/') %>
              <%= link_to('Kelionių paieška', '/kelioniu-paieska') %>
              <%= link_to('Kontaktai', '/kontaktai') %>
              <%= link_to('Apie mus', '/apie') %> |

              <% if current_user.try(:email) == "admin@gmail.com" %>
                <%= link_to('Tvarkyklė', '/trips') %>
              <% end %>

              <% if signed_in? %>
                Sveiki, <%= current_user.email %>!
                <%= button_to 'Atsijungti', sign_out_path, method: :delete %>
              <% else %>
                <%= link_to 'Prisijungti', sign_in_path %>
              <% end %>

              <div id="flash">
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
              </div>
          </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p class="footer_text">© 2020 Rytis Simanavičius</p>
    </footer>
  </body>
</html>
